* {
    border: none;
    border-radius: 0;
    font-family: Iosevka, Symbols Nerd Font, sans-serif;
    font-size: 13px;
}

window#waybar {
    background: #181818;
}

#clock, #cpu, #memory, #pulseaudio,#workspaces, #window, #mode, #temperature, #battery, #network, #backlight, #idle_inhibitor, #tray, #custom-tempmon, #custom-music {
    margin: 0px 6px;
    padding: 0px;
    color: #E5E5E5;
}

#workspaces button {
    padding: 0px;
    margin: 0px;
    min-height: 24px;
    min-width: 18px;
    /*color: #808080;*/
    color: #E5E5E5;
/*    border-bottom: 3px solid transparent;*/
}

#workspaces button.focused {
    color: #E5E5E5;
/*    border-bottom: 3px solid #8ab4f8;*/
}

#workspaces label {
    font-size: 10px;
}

#mode {
    background: #64727D;
}

#pulseaudio {
    color: #c3e88d;
}

#pulseaudio.muted {
    color: #f07178;
}

#custom-music {
    background: #060606;
    font-size: 11px;
    border-bottom: 3px solid #c792ea;
}

#idle_inhibitor {
    padding: 0px 4px;
    border-bottom: 3px solid #f07178;
}

#network {
    border-bottom: 3px solid #ffcb6b;
}

#custom-tempmon {
    border-bottom: 3px solid #fffe6b;
}

#cpu {
    border-bottom: 3px solid #82aaff;
}

#memory {
    border-bottom: 3px solid #c792ea;
}

#battery {
    border-bottom: 3px solid #89ddff;
}

#clock {
    border-bottom: 3px solid #eeffff;
}

#custom-powermenu {
    margin: 0px;
    padding: 0px 10px;
    font-size : 16px;
    color: #cc575d;
    background: #2D2D2D;
}

#custom-menu {
    margin: 0px;
    padding: 0px 10px;
    font-size : 16px;
    color: #8ab4f8;
    background: #2D2D2D;
}
