* {
    border: none;
    border-radius: 0;
    font-family: Fantasque Sans Mono, Symbols Nerd Font, sans-serif;
    font-size: 15px;
}

window#waybar {
    border-top: 2px solid #3584E4;
    background: #353535;
    margin: 0px;
    padding: 0px;
}

#clock, #cpu, #memory, #pulseaudio,#workspaces, #mode, #temperature, #battery, #network, #backlight, #idle_inhibitor, #tray, #custom-tempmon, #custom-music {
    margin: 7px 4px 5px 4px;
    border-radius: 4px;
    padding: 0px 6px;
    background: #2D2D2D;
    border: 1px solid #1B1B1B;
    color: #CCCCCA;
}

#workspaces {
    background: #1E1E1E;
    margin: 4px 4px 2px 4px;
    border-radius: 4px;
    padding: 0px 6px;
}

#workspaces button {
    padding: 0px;
    margin: 0px;
}

#workspaces button.focused {
    color: #3584E4;
    font-weight: bold;
}

#mode {
    background: #64727D;
/*    border-bottom: 3px solid white; */
}
/*
#taskbar {
    background: #292D3E;
}

.active {
    border-top: 3px solid #A9CAF1;
    background: #4A5263;
}

.minimized {
    opacity: 0.4;
}
*/

#tray {
    margin: 7px 4px 5px 4px;
}

#custom-music {
    background: #1E1E1E;
    font-size: 12px;
}

#custom-powermenu {
    margin: 6px 4px 5px 4px;
    border-radius: 4px;
    padding:  0px 6px;
/*    background: #444A58;*/
    font-size : 16px;
    border: 1px solid #CC575D;
    color: #CC575D;
}


#custom-prev, #custom-next {
    margin: 9px 4px;
    padding: 0px 8px;
    border-radius: 4px;
    background: #2D2D2D;
    border: 1px solid #1B1B1B;
    color: #CCCCCA;
    font-size : 11px;
}

#custom-playpause {
    margin: 5px 0px;
    padding: 0px 6px;
    border-radius: 12px;
    background: #2D2D2D;
    border: 1px solid #1B1B1B;
    color: #CCCCCA;
    font-size : 13px;
}

#custom-menu {
    padding : 4px 10px;
    margin: 0px 6px 0px 0px;
    font-size : 18px;
    background : #3584E4;
    color : #EEEEEC;
}

/*
#custom-tempmon {
    color: #CC7720;
}*/
